.DS_Store
src/configuration/globalvariables
src/modules/opnsense/.terraform.lock.hcl
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/terraform-provider-proxmox_v0.78.0
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/CHANGELOG.md
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/LICENSE
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/README.md
src/modules/opnsense/terraform.tfstate
src/modules/opnsense/terraform.tfstate.backup
src/modules/opnsense/tapaas.tfvars
.vscode/settings.json
cspell.json
src/config local
dev/
.env.key
setup.sh
tmp/litellm.sql
tmp/litellm_data_only.sql
.gitignore
src/foundation/30-tappaas-cicd/opnsense-controller/result
src/foundation/30-tappaas-cicd/opnsense-controller/result-2
src/foundation/30-tappaas-cicd/opnsense-controller/result-3
src/foundation/30-tappaas-cicd/opnsense-controller/result-4
