.DS_Store
src/configuration/globalvariables
src/modules/opnsense/.terraform.lock.hcl
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/terraform-provider-proxmox_v0.78.0
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/CHANGELOG.md
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/LICENSE
src/modules/opnsense/.terraform/providers/registry.opentofu.org/bpg/proxmox/0.78.0/linux_amd64/README.md
src/modules/opnsense/terraform.tfstate
src/modules/opnsense/terraform.tfstate.backup
src/modules/opnsense/tapaas.tfvars
.vscode/settings.json
cspell.json
src/config local
dev/tappaas-ai-chat/data/litellm/functional_config/config.yaml
dev/tappaas-ai-chat/data/postgres/application_config/init-multiple-dbs.sh
dev/tappaas-ai-chat/data/searxng/admin_config/settings-base.yml
dev/tappaas-ai-chat/data/searxng/admin_config/settings.yml
dev/tappaas-ai-chat/data/searxng/admin_config/settings.yml.new
dev/tappaas-ai-chat/data/searxng/admin_config/uwsgi.ini
dev/tappaas-ai-chat/docker/.env
dev/tappaas-ai-chat/docker/.env.local
dev/tappaas-ai-chat/docker/docker-compose.override.yml
dev/tappaas-ai-chat/docker/docker-compose.yaml
dev/tappaas-ai-chat/docker/init-data-dirs.sh
dev/tappaas-ai-chat/docker/load-env.sh
dev/tappaas-ai-chat/docker/start-stack.sh
dev/tappaas-ai-chat/docker/achive/get-db-url.sh
dev/tappaas-ai-chat/docker/achive/manage-service.sh
